<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Star Alliance</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Free HTML Templates" name="keywords">
	<meta content="Free HTML Templates" name="description">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="icon">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="~/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/Content/css/style.css" rel="stylesheet">
	<link href="~/Content/css/style.min.css" rel="stylesheet" />
	<link href="~/Content/css/Ticket.css" rel="stylesheet" />

</head>

<body>

	<div class="container body-content">
		@RenderBody()
		<hr />



		<!-- Topbar Start -->
		<div class="container-fluid bg-light pt-3 d-none d-lg-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
						<div class="d-inline-flex align-items-center">
							<p><i class="fa fa-envelope mr-2"></i>conventions@ethiopianairlines.com</p>
							<p class="text-body px-3">|</p>
							<p><i class="fa fa-phone-alt mr-2"></i>+505 75175270</p>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
						<div class="d-inline-flex align-items-center">
							<a class="text-primary px-3" href="https://www.facebook.com/staralliance?mibextid=LQQJ4d">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="text-primary px-3" href="https://twitter.com/staralliance?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
								<i class="fab fa-twitter"></i>
							</a>
							
							<a class="text-primary px-3" href="https://instagram.com/staralliance?igshid=NGVhN2U2NjQ0Yg==">
								<i class="fab fa-instagram"></i>
							</a>
							<a class="text-primary pl-3" href="https://youtu.be/z6mEljZZ5o0?si=lkG6bVao6qapIVC3">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Topbar End -->
		<!-- Navbar Start -->


		<div class="container-fluid position-relative nav-bar p-0">
			<div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
				<nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
					<a href="" class="navbar-brand">
						<h1 class="m-0 text-primary"><span class="text-dark">Star</span>Alliance</h1>
					</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
						<div class="navbar-nav ml-auto py-0">
							<a href="~/Home/Index" class="nav-item nav-link active">Home</a>


							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Vuelos</a>
								<div class="dropdown-menu border-0 rounded-0 m-0">
									<a href="~/Flight_Origin/Index" class="dropdown-item">Origen</a>
									<a href="~/Flight_Stops/Index" class="dropdown-item">Escalas</a>
									<a href="~/Flight_Destination/Index" class="dropdown-item">Destinos</a>
									<a href="~/Flight_Luggage/Index" class="dropdown-item">Equipaje</a>
									<a href="~/Flights/Index" class="dropdown-item">Vuelos</a>
									<a href="~/Flight_Class/Index" class="dropdown-item">Clase</a>
									<a href="~/Flight_Seats/Index" class="dropdown-item">Asiento</a>

								</div>
							</div>



							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Boletos</a>
								<div class="dropdown-menu border-0 rounded-0 m-0">
									<a href="/Det_Ticket/Index" class="dropdown-item">Boletos</a>
									<a href="~/Det_Ticket/VerificarEstadoBoleto" class="dropdown-item">Estado Boleto</a>
									<a href="~/Det_Ticket/TicketCalculated" class="dropdown-item">Precio</a>
									
									

								</div>
							</div>



							<a href="~/Itinerarios/ItineraryList" class="nav-item nav-link">Itinerarios</a>




							<div class="nav-item dropdown">

								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pasajeros</a>
								<div class="dropdown-menu border-0 rounded-0 m-0">
									<a href="~/Passengers/Index" class="dropdown-item">Pasajeros</a>
									<a href="~/Passports/Index" class="dropdown-item">Pasaporte</a>
									<a href="~/Visas/Index" class="dropdown-item">Visa</a>
									<a href="~/Passengers/CalculateRefund" class="dropdown-item">Reembolsos</a>

								</div>
							</div>


							<a href="~/Cancellations/Index" class="nav-item nav-link">Cancelación</a>






						</div>
						</div>
				</nav>
			</div>
		</div>
		<!-- Navbar End -->
		<!-- Carousel Start -->
		<div class="container-fluid pb-5">

			<div class="container pb-5">

				<div id="header-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="w-100" src="~/Content/img/carousel-1.jpg" alt="Image">
							<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 900px;">
									<h4 class="text-white text-uppercase mb-md-3">Tu Viaje, nuestra Pasión</h4>
									<h1 class="display-3 text-white mb-md-4">Descubre el Mundo a tu Manera</h1>

								</div>
							</div>
						</div>
						<div class="carousel-item">
							<img class="w-100" src="~/Content/img/carousel-2.jpg" alt="Image">
							<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
								<div class="p-3" style="max-width: 900px;">
									<h4 class="text-white text-uppercase mb-md-3">Conectando Destinos</h4>
									<h1 class="display-3 text-white mb-md-4">Donde cada aventura comienza</h1>

								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
						<div class="btn btn-dark" style="width: 45px; height: 45px;">
							<span class="carousel-control-prev-icon mb-n2"></span>
						</div>
					</a>
					<a class="carousel-control-next" href="#header-carousel" data-slide="next">
						<div class="btn btn-dark" style="width: 45px; height: 45px;">
							<span class="carousel-control-next-icon mb-n2"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
			<!-- Carousel End -->
			<!-- Booking Start -->
			<!-- Booking End -->
			<!-- About Start -->
			<!-- About End -->
			<!-- Feature Start -->
			<div class="container-fluid pb-5">
				<div class="container pb-5">
					<div class="row">
						<div class="col-md-4">
							<div class="d-flex mb-4 mb-lg-0">
								<div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
									<i class="fa fa-2x fa-money-check-alt text-white"></i>
								</div>
								<div class="d-flex flex-column">
									<h5 class="">Precios Competitivos</h5>
									<p class="m-0">Descubre el mundo con comodidad y ahorra con nosotros</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="d-flex mb-4 mb-lg-0">
								<div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
									<i class="fa fa-2x fa-award text-white"></i>
								</div>
								<div class="d-flex flex-column">
									<h5 class="">Mejores Servicios</h5>
									<p class="m-0">Donde la excelencia se encuentra con la asequibilidad y los mejores servicios</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="d-flex mb-4 mb-lg-0">
								<div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
									<i class="fa fa-2x fa-globe text-white"></i>
								</div>
								<div class="d-flex flex-column">
									<h5 class="">Cobertura Mundial</h5>
									<p class="m-0">Viajes memorables comienzan aquí con cobertura global garantizada</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Feature End -->
			<!-- Destination Start -->
			<div class="container-fluid py-5">
				<div class="container pt-5 pb-3">
					<div class="text-center mb-3 pb-3">
						<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destinos</h6>
						<h1>Explora Destinos Top</h1>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-1.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">United States</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-2.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">United Kingdom</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-3.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">Australia</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-4.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">India</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-5.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">South Africa</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="destination-item position-relative overflow-hidden mb-2">
								<img class="img-fluid" src="~/Content/img/destination-6.jpg" alt="">
								<a class="destination-overlay text-white text-decoration-none" href="">
									<h5 class="text-white">Indonesia</h5>
									<span>100 Cities</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Destination Start -->
			<!-- Service Start -->
			<!-- Service End -->
			<!-- Packages Start -->
			<div class="container-fluid py-5">
				<div class="container pt-5 pb-3">
					<div class="text-center mb-3 pb-3">
						<h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Packages</h6>
						<h1>Paquetes Tuisticos Perfectos</h1>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-1.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-2.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-3.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-4.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-5.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 mb-4">
							<div class="package-item bg-white mb-2">
								<img class="img-fluid" src="~/Content/img/package-6.jpg" alt="">
								<div class="p-4">
									<div class="d-flex justify-content-between mb-3">
										<small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Thailand</small>
										<small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
										<small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
									</div>
									<a class="h5 text-decoration-none" href="">Discover amazing places of the world with us</a>
									<div class="border-top mt-4 pt-4">
										<div class="d-flex justify-content-between">
											<h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
											<h5 class="m-0">$350</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Packages End -->
			<!-- Registration Start -->
			<!-- Registration End -->
			<!-- Team Start -->
			<!-- Team End -->
			<!-- Testimonial Start -->
			<!-- Testimonial End -->
			<!-- Blog Start -->
			<!-- Blog End -->
			<!-- Footer Start -->
			<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
				<div class="row pt-5">
					<div class="col-lg-6 col-md-12 order-md-1 mb-5 mb-lg-0">
						<a href="" class="navbar-brand">
							<h1 class="text-primary"><span class="text-white">Star</span>Alliance</h1>
						</a>
						<p>The Way The Earth Connects</p>
						<h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
						<div class="d-flex justify-content-start">
							<a class="btn btn-outline-primary btn-square mr-2" href="https://twitter.com/staralliance?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
							<a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/staralliance?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-outline-primary btn-square" href="https://instagram.com/staralliance?igshid=NGVhN2U2NjQ0Yg=="><i class="fab fa-instagram"></i></a>
						</div>
					</div>


					<div class="col-lg-6 col-md-12 order-md-2 mb-5">
						<h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
						<p><i class="fa fa-phone-alt mr-2"></i>+505 75175270</p>
						<p><i class="fa fa-envelope mr-2"></i>conventions@ethiopianairlines.com</p>


					</div>
				</div>
			</div>
			<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
				<div class="row">
					<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
						<p class="m-0 text-white-50">
							Copyright J.G All Rights Reserved
						</p>
					</div>
					<div class="col-lg-6 text-center text-md-right">
						<p class="m-0 text-white-50">
							Designed by Jade González
						</p>
					</div>
				</div>
			</div>
			<!-- Footer End -->
			<!-- Back to Top -->
			<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


			<!-- JavaScript Libraries -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
			<script src="~/Content/lib/easing/easing.min.js"></script>
			<script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
			<script src="~/Content/lib/tempusdominus/js/moment.min.js"></script>
			<script src="~/Content/lib/tempusdominus/js/moment-timezone.min.js"></script>
			<script src="~/Content/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>





			<!-- Contact Javascript File -->
			<script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
			<script src="~/Content/mail/contact.js"></script>

			<!-- Template Javascript -->

			<script src="~/Content/js/main.js"></script>

		</div>

</body>



</html>